<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.env</string>
  <key>ProgramArguments</key>
  <array>
    <string>sh</string>
    <string>-c</string>
    <string>
      launchctl setenv BASECAMP_ACCESS_TOKEN ""
      launchctl setenv BASECAMP_ACCOUNT_ID ""
      launchctl setenv BASECAMP_CLIENT_ID ""
      launchctl setenv BASECAMP_CLIENT_SECRET ""
      launchctl setenv BASECAMP_REFRESH_TOKEN ""
     </string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>